@using Lab2EDI_1C18.Models;
@model  IEnumerable<Lab2EDI_1C18.Models.Entero>
@{
    ViewBag.Title = "IndexIn";
}

<h2>IndexIn</h2>

@using (Html.BeginForm("IndexIn", "CargaEntero", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    if (Model != null)
    {
        <br />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Numero)
                </th>            
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero)
                    </td>                 
                </tr>
            }

        </table>
    }
}